.background
{
    background: url("../images/background.jpg") no-repeat;
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: 0;
    background-size: 500%;
}

body
{
    margin: 0 0 5% 0;
}

h1
{
    margin: 0 0 2vw 0;
    font: 600 11vw/13vw Georgia;
    color: #8B0000;
    text-align: center;
}

.forms
{
    text-align: center;
    margin-top: 15vw;
}

h2
{
    font: 7vw/2vw Georgia;
    margin-bottom: 10vw;
}

.field
{
    border: 2px solid #c9c9c9;
    width: 100%;
    height: 7vw;
    font: 400 4vw 'Open Sans', sans-serif;
    padding: 1vw 0 1vw 0;
    border-radius: 1vw;
}

.field:hover
{
    cursor: pointer;
}

.form_field
{
    text-align: left;
    margin-bottom: 5vw;
}

.form
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.control_label
{
    font: 400 5vw/3vw Open Sans;
}

.button_send
{
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    height: 10vw;
    font: 5vw Georgia, serif;
    width: 40vw;
    background-color: #8B0000;
    color: wheat;
}

.one
{
    width: 40vw;
    border-radius: 5vw;
    margin-right: 4vw;
}

.three
{
    width: 40vw;
    border-radius: 5vw;
}

.images
{
    text-align: center;
    margin-top: 10vw;
}

.img_one
{
    float: left;
    margin-left: 5vw;
}

@media screen and (min-width: 481px)
{
    h1
    {
        font: 600 8vw/9vw Georgia;
    }

    .forms
    {
        margin-top: 0;
    }

    .control_label
    {
        font: 400 4vw/3vw Open Sans;
    }

    h2
    {
        margin-bottom: 5vw;
    }

    .field
    {
        height: 5vw;
    }

    .button_send
    {
        height: 8vw;
        font: 4vw Georgia, serif;
        width: 30vw;
    }

    .images
    {
        margin-top: 4vw;
    }
}
@media screen and (min-width: 769px)
{
    h1
    {
        font: 600 8vw/8vw Georgia;
    }

    .forms
    {
        margin-top: 0;
    }

    h2
    {
        font: 4vw/2vw Georgia;
        margin-bottom: 4vw;
    }

    .control_label
    {
        font: 400 3vw/1vw Open Sans;
    }

    .form
    {
        width: 60%;
    }

    .field
    {
        height: 3vw;
        font: 400 3vw 'Open Sans', sans-serif;
    }

    .form_field
    {
        margin-bottom: 3vw;
    }

    .button_send
    {
        height: 6vw;
        font: 2vw Georgia, serif;
        width: 20vw;
    }
    .images
    {
        margin-top: -7vw;
    }

    .one
    {
        width: 25vw;
        margin-right: 30vw;
    }

    .three
    {
        width: 25vw;
    }


}

@media screen and (min-width: 1021px)
{
    h1
    {
        font: 600 6vw/7vw Georgia;
        margin-bottom: 8vw;
    }

    .forms
    {
        text-align: center;
        margin-top: 6vw;
    }

    h2
    {
        font: 3vw/2vw Georgia;
    }

    .field
    {
        height: 0.5vw;
    }

    .field:hover
    {
        cursor: pointer;
    }

    .form_field
    {
        margin-bottom: 2vw;
    }

    .form
    {
        width: 30%;
    }

    .control_label
    {
        font: 400 1.5vw/1vw Open Sans;
    }

    .button_send
    {
        height: 4vw;
        font: 1.5vw Georgia, serif;
        width: 13vw;
    }

    .one
    {
        width: 25vw;
        z-index: -1;
        margin-left: 6vw;
        margin-top: -22vw;
        border-radius: 5vw;
    }

    .three
    {
        width: 25vw;
        z-index: -1;
        margin-top: -50vw;
        margin-left: 68vw;
        border-radius: 5vw;
    }

    .img_one
    {
        margin-left: 0;
    }
}
